.genre-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(220px, 1fr));
  background-image: linear-gradient(rgba(14, 14, 14, 0.609), #2c2b2b34);
  height: calc(100vh - 50px);
}